@use 'vars' as *;

@font-face {
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/inter/Inter-Regular.otf') format('opentype');
}

@font-face {
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/inter/Inter-Medium.otf') format('opentype');
}

@font-face {
  font-family: Inter;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/inter/Inter-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: Poppins;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Poppins;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: Poppins;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: PublicSans;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/publicSans/PublicSans-SemiBold.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
  font-family: Poppins, sans-serif;
  background: $white;
}

main {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
a {
  color: $black-text;
}

// * {
//   &::-webkit-scrollbar {
//     width: 8px;
//     background: var(--monochrome-600);
//   }

//   &::-webkit-scrollbar-thumb {
//     // border-radius: $r-xxl;
//     background-color: var(--brand-orange-500);
//   }
// }

// body {
//   * {
//     &::-webkit-scrollbar {
//       width: 10px;
//     }
//   }
// }

.container {
  width: 100%;
  max-width: $pc;
  margin-right: auto;
  margin-left: auto;
  padding-right: 97px;
  padding-left: 97px;

  @include pc {
    max-width: $laptop;
    padding-right: 67px;
    padding-left: 67px;
  }

  @include laptop {
    max-width: $tablet;
    padding-right: 32px;
    padding-left: 32px;
  }

  @include tablet {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.showOnMobile {
  display: none;

  @include mobile-big {
    display: block;
  }
}

.hideOnTablet {
  @include tablet {
    display: none;
  }
}

.nowrap {
  white-space: nowrap;
}

.sr-only {
  @extend %visually-hidden;
}
