.small {
  height: 50px;
  padding: 14.5px 24.5px;
  border-radius: $r-s;

  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.12px;

  @include pc {
    height: 38px;
    padding: 11px 18px;
  }
}

.medium {
  padding: $p-18 $p-24;
  border-radius: $r-s;

  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1%;

  @include pc {
    padding: 12.5px 16px;
    font-size: 12px;
  }
}

.buttonLink {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Poppins, sans-serif;
  text-align: center;

  transition: 0.3s ease;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }
}

.primary {
  border: 2px solid $black;
  color: $white;
  background: $black;

  &:hover {
    color: $black;
    background: $white;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }

  @include tablet-min {
    border: 1px solid $black;
  }
}

.secondary {
  border: 2px solid $black;
  color: $black;
  background: $white;

  &:hover {
    background: $gray;
  }

  @include tablet-min {
    border: 1px solid $black;
  }
}

.third {
  border: 2px solid $white;
  color: $white;
  background: transparent;

  &:hover {
    color: $black;
    background: #d7d7d7;
  }

  @include tablet-min {
    border: 1px solid $white;
  }
}

.text {
  padding: 8px 20px;
  border-radius: 10px;

  font-size: 16px;
  color: #606060;

  transition: $transition;

  @include hover {
    &:hover {
      background: #c3c3c3;
    }
  }

  @include laptop {
    font-size: 14px;
  }
}
