.hero {
  position: relative;

  display: grid;
  grid-template-columns: rem(600) 1fr;

  margin-top: 214px;
  padding-bottom: 170px;

  @include pc {
    grid-template-columns: rem(370) 1fr;
    margin-top: 150px;
  }

  @include tablet {
    grid-template-columns: rem(320) 1fr;
    margin-top: 200px;
  }

  @include tablet-min {
    display: block;
    margin-top: 180px;
    text-align: center;
  }
}

.content {
  position: relative;
  padding-top: 10px;

  h1 {
    font-size: $f-7xl;
    line-height: rem(84);
    letter-spacing: -3px;

    @include pc {
      font-size: rem(54);
      line-height: rem(62);
      letter-spacing: -2px;
    }

    @include laptop {
      font-size: rem(42);
      line-height: rem(48);
    }

    @include tablet {
      font-size: rem(32);
      line-height: rem(38);
    }

    @include tablet-min {
      font-size: rem(48);
      line-height: rem(54);
    }
  }

  @include tablet-min {
    padding-top: 20px;
  }
}

.topLine {
  position: absolute;
  top: 0;
  left: 0;

  width: 195px;
  height: 1px;

  opacity: 0.2;
  background: #201f1f;

  b {
    display: none;
  }

  @include tablet-min {
    width: 100%;
    height: auto;
    background: unset;

    b {
      position: relative;

      display: inline-block;

      width: fit-content;

      font-size: 10px;
      font-style: normal;

      &::before {
        content: '';

        position: absolute;
        top: 50%;
        left: -8px;
        transform: translate(-100%, -50%);

        width: 33px;
        height: 1px;

        background: #201f1f;
      }
    }
  }
}

.desc {
  margin-top: $i-28;
  margin-bottom: $i-44;

  font-family: $inter;
  font-weight: 400;
  line-height: rem(28);
  color: $gray-text;

  b {
    font-weight: 600;
    color: $black;
  }

  @include pc {
    margin-top: 16px;
    margin-bottom: 36px;
    font-size: rem(13);
    line-height: rem(18);
  }

  @include tablet {
    font-size: rem(12);
    line-height: rem(16);
  }

  @include tablet-min {
    margin-bottom: 41px;
    font-size: rem(11);
    line-height: rem(17);
  }
}

.buttons {
  display: flex;
  gap: $i-22;

  @include pc {
    gap: 16px;

    a {
      &:first-child {
        padding: 12.5px 22px !important;
      }

      &:last-child {
        padding: 12.5px 16px !important;
      }
    }
  }

  @include tablet-min {
    grid-template-columns: auto auto;
    justify-content: center;

    a {
      &:first-child {
        padding: 15px 21px !important;
      }

      &:last-child {
        padding: 15px !important;
      }
    }
  }
}

.stats {
  display: flex;
  gap: 60px;
  margin-top: 80px;

  @include pc {
    gap: 40px;
    margin-top: 58px;
  }

  @include tablet-min {
    display: none;
  }
}

.stat {
  h2 {
    margin-bottom: 10px;

    font-family: $public-sans;
    font-size: rem(36);
    line-height: rem(44);
    color: $black-text;
  }

  p {
    font-family: $inter;
    font-size: rem(12);
    font-weight: 500;
    line-height: rem(16);
    color: $another-fucking-gray;
  }

  @include pc {
    h2 {
      margin-bottom: 8px;
      font-size: rem(26);
      line-height: rem(30);
    }

    p {
      font-size: rem(9);
      line-height: rem(13);
    }
  }
}

.animWrapper {
  position: absolute;
  right: -10%;
  transform-origin: top;

  aspect-ratio: 16/ 9;
  width: 780px;

  @include pc {
    right: -15%;
    scale: 0.7;
  }

  @include laptop {
    right: unset;
    left: 25%;
    scale: 0.5;
  }

  @include tablet {
    right: -30%;
    left: unset;
    scale: 0.4;
  }

  @include tablet-min {
    position: static;
    transform-origin: center;
    scale: 1;

    width: 400px;
    margin: 100px auto 0;
  }

  @include mobile-mid {
    transform-origin: center left;
    scale: 0.8;
  }
}

.shape1 {
  position: relative;
  transform: translateX(200%);

  aspect-ratio: 1/1;
  width: 392px;
  height: 392px;
  border-radius: 25px;

  animation: slide-in-left-shape 1.7s ease forwards;

  &::after {
    content: '';

    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    background: url('/images/shape1.png') no-repeat center/cover;

    animation: show-shape-bg 2s ease forwards 1.7s;
  }

  img {
    width: 100%;
  }

  @include tablet-min {
    width: 210px;
    height: 210px;
    animation: slide-in-left-shape-min 1.7s ease forwards;
  }
}

.shape2 {
  position: absolute;
  top: 180px;
  right: 0;
  transform: translateX(200%);

  aspect-ratio: 1/1;
  width: 320px;
  height: 320px;
  border-radius: 25px;

  animation: slide-in-left-shape 1.5s ease forwards 0.3s;

  &::after {
    content: '';

    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    opacity: 0.7;
    background: url('/images/shape2.png') no-repeat center/cover;

    animation: show-shape-bg 2s ease forwards 1.5s;
  }

  img {
    width: 100%;
  }

  @include tablet-min {
    top: 100px;
    width: 170px;
    height: 170px;
    animation: slide-in-left-shape-min 1.5s ease forwards 0.3s;
  }
}

@keyframes slide-in-left-shape {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left-shape-min {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes show-shape-bg {
  0% {
    top: 0;
    filter: blur(0);
  }

  100% {
    top: 24px;
    filter: blur(80px);
  }
}

.dots {
  position: absolute;
  z-index: -1;
  top: 0;
  right: -5%;

  @include tablet-min {
    width: 100px;
  }
}

.arrow {
  position: absolute;
  top: 10%;
  left: 60%;
  transform: translateX(-50%);

  @include tablet-min {
    top: 0;
    width: 60px;
  }
}
