.header {
  position: fixed;
  z-index: 5;

  width: 100vw;
  padding-top: 45px;
  padding-bottom: 17px;

  transition:
    padding-top $transition,
    box-shadow $transition;

  @include break-min($tablet) {
    &.scrolled {
      padding-top: 17px;
      background: white;
      box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
    }
  }

  @include tablet {
    padding: 30px 30px 0;
    background: white;
  }
}

.logoWrapper {
  z-index: 1;

  svg {
    flex-shrink: 0;
  }

  span {
    display: none;
  }

  @include tablet {
    display: flex;
    gap: 7px;
    align-items: center;

    span {
      display: inline-block;
      font-size: 22px;
      font-weight: 600;
      line-height: 24px;
    }
  }
}

.content {
  display: flex;
  gap: 32px;
  align-items: center;

  @include pc {
    gap: 24px;
  }

  @include tablet {
    padding: 0 0 30px !important;
    border-bottom: 1px solid #e6e6e6;
  }
}

.nav {
  display: flex;
  gap: 32px;
  width: 100%;

  @include pc {
    gap: 24px;
  }

  @include tablet {
    position: fixed;
    top: -100%;
    left: 0;

    overflow-y: auto;
    flex-direction: column;
    gap: 42px;

    height: calc(100dvh - 114px);
    padding: 44px 30px 40px;

    opacity: 0;
    background-color: white;

    transition:
      top 0.6s ease,
      opacity 0.6s ease;
  }

  &.navActive {
    @include tablet {
      top: 114px;
      opacity: 1;
    }
  }
}

.linksWrapper {
  display: flex;
  gap: 18px;
  align-items: center;

  @include pc {
    gap: 0;
  }

  @include tablet {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;

    a {
      padding: 0;
      font-size: 40px;
      line-height: 42px;
    }
  }
}

.socialWrapper {
  display: none;

  @include tablet {
    display: flex;
    gap: 42px;
    align-items: center;
  }
}

.headerButton {
  margin-left: auto;

  @include tablet {
    width: 100%;
    margin-top: auto;
  }
}

.hamburger {
  display: none;

  @include tablet {
    display: block;
    margin-left: auto;
  }

  span {
    display: block;

    width: 31.5px;
    height: 2px;
    margin: 11px auto;

    background-color: black;

    transition: all 0.2s ease-in-out;
  }

  &:hover {
    cursor: pointer;
  }

  &.hamburgerActive {
    transform: rotate(45deg);
    transition: all 0.2s ease-in-out;
    transition-delay: 0.4s;

    span {
      &:nth-child(2) {
        width: 0;
      }

      &:nth-child(1),
      &:nth-child(3) {
        transition-delay: 0.2s;
      }

      &:nth-child(1) {
        transform: translateY(13px);
      }

      &:nth-child(3) {
        transform: translateY(-13px) rotate(90deg);
      }
    }
  }
}
