.footer {
  padding: 88px 0;
  background: $black-text;

  @include pc {
    padding: 60px 0;
  }

  @include tablet {
    margin-top: 200px;
    padding: 52px 0 40px;
  }
}

.content {
  display: grid;
  grid-template-areas:
    'logo links'
    'divider divider'
    'copyright social';

  @include tablet {
    grid-template-areas:
      'logo social'
      'links links'
      'divider divider'
      'copyright copyright';
  }
}

.logo {
  display: flex;
  grid-area: logo;
  gap: 10px;
  align-items: center;

  font-size: 30px;
  font-weight: 600;
  line-height: 130%;
  color: $white;

  svg {
    width: 65px;
    height: 65px;
  }

  @include pc {
    font-size: 22px;

    svg {
      width: 46px;
      height: 46px;
    }
  }

  @include tablet {
    gap: 7px;
  }
}

.links {
  display: flex;
  grid-area: links;
  gap: 70px;
  align-self: center;

  margin-left: auto;

  a {
    font-family: $inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #b9b9b9;
    text-decoration: none;
  }

  @include pc {
    gap: 50px;

    a {
      font-size: 13px;
    }
  }

  @include tablet {
    flex-direction: column;
    gap: 30px;
    margin-top: 32px;
    margin-left: unset;

    a {
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.divider {
  grid-area: divider;

  height: 1px;
  margin: 25px 0 56px;

  opacity: 0.25;
  background: #818181;

  @include pc {
    margin: 20px 0 40px;
  }

  @include tablet {
    margin: 42px 0 26px;
  }
}

.copyright {
  grid-area: copyright;

  font-family: $inter;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  color: #999;

  i {
    display: none;
    font-style: normal;
  }

  @include pc {
    font-size: 12px;
  }

  @include tablet {
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    i {
      display: inline;
    }
  }
}

.socials {
  display: flex;
  grid-area: social;
  gap: 42px;
  margin-left: auto;

  @include pc {
    gap: 28px;

    svg {
      width: 14px;
      height: 14px;
    }
  }

  @include tablet {
    gap: 12px;
    align-self: center;
  }
}
