.banner {
  margin-top: 120px;
  margin-bottom: 120px;

  @include pc {
    margin-top: 90px;
    margin-bottom: 90px;
  }

  @include tablet {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}

.bannerContent {
  display: flex;

  padding: 31px 31px 31px 66px;
  border-radius: 30px;

  color: white;

  background: black;

  h2 {
    font-size: 45px;
    font-weight: 600;
    line-height: 48px;
    color: white;
    letter-spacing: 1%;
  }

  p {
    margin-top: 20px;

    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    color: #d4d4d4;

    opacity: 0.6;
  }

  .imageWrapper {
    margin-left: auto;
  }

  img {
    max-width: 370px;
    border-radius: 16px;
  }

  @include pc {
    padding: 23px 23px 23px 47px;

    h2 {
      font-size: 32px;
      line-height: 36px;
    }

    p {
      margin-top: 15px;
      font-size: 15px;
      line-height: 16.5px;
    }

    img {
      max-width: 263px;
    }
  }

  @include tablet {
    position: relative;

    justify-content: center;

    padding: 22px 30px 87px;
    border-radius: 14px;

    text-align: center;

    h2 {
      font-size: 24px;
      line-height: 24px;
    }

    p {
      margin-top: 9px;
      font-size: 10px;
      line-height: 1.3;
    }

    .imageWrapper {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 60%);

      &::after {
        content: '';

        position: absolute;
        top: 24px;
        left: 0;

        width: 100%;
        height: 100%;
        border-radius: 16px;

        opacity: 0.7;
        background: url('/images/card5.jpg') no-repeat center/cover;
        filter: blur(30px);
      }
    }
  }

  @include mobile-mid {
    img {
      max-width: 200px;
    }
  }
}

.buttons {
  display: flex;
  gap: 24px;
  margin-top: 57px;

  @include pc {
    gap: 18px;
    margin-top: 42px;

    button {
      font-size: 16px;
    }
  }

  @include tablet {
    justify-content: center;
    margin-top: 22px;

    button {
      padding: 10px 13px;
      border-radius: 6px;
      font-size: 10px;
    }
  }
}
