.nftSection {
  padding: 70px 0;
  background: #f1f1f1;

  h2 {
    font-size: 46px;
    font-weight: 600;
    line-height: 48px;
    color: #c5c5c5;
    text-align: center;
  }

  @include pc {
    padding: 50px 0;

    h2 {
      font-size: 32px;
      line-height: 36px;
    }
  }

  @include tablet {
    h2 {
      font-size: 30px;
      line-height: 30px;
    }
  }
}
